.root {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.container {
    margin: 50px;
    /* max-width: 1000px; */
    height: 100%;
    display: flex;
    flex-flow: row;
}

.image {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 450px;
}

.image > img {
    display: block;
    max-width:450px;
    max-height:300px;
    width: auto;
    height: auto;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.button {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}


.footer {
    margin: 20px;
}

.imgContainer {
    height: 100%;
    width: 100%;
}

.imgContainer > img {
    width: 100%;
    opacity: 1;
}

.buttonImg {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}