.root {
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.container {
    margin: 50px;
    /* max-width: 1000px; */
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.content {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.contentImg {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    min-width: 900px;
}


.image {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.image > img {
    display: block;
    max-width:450px;
    max-height:300px;
    width: auto;
    height: auto;
}
